*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image-container h3{
    color: black;
    background-color: blanchedalmond;
    padding: 0;
    margin: 10px;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
}

.image-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

